<div class="nav-container-wrapper">
  <div class="nav-container">
    <div class="nav-row">
      <div class="logo">
        <p>Techsergeanttechnologies</p>
        <svg
          (click)="toggleMobileMenu()"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          strokeWidth="{1.5}"
          stroke="currentColor"
          className="size-6"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </div>
      <div class="contact-info">
        <div class="contact-item">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              className="size-6 contact-svg"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
              />
            </svg>
          </div>
          <div>
            <p class="contact-title">Email Us:</p>
            <span class="email">info&#64;techsergeanttechnologies.com</span>
          </div>
        </div>
        <span class="phone">+123 456 789</span>
        <button class="contact-button">Contact</button>
      </div>
    </div>
    <div class="nav-links">
      <ul>
        <li><a href="#home" (click)="navigateToSection('home')">Home</a></li>
        <li><a href="#about" (click)="navigateToSection('about')">About</a></li>
        <li>
          <a href="#services" (click)="navigateToSection('services')"
            >Services</a
          >
        </li>
        <li>
          <a href="#contact" (click)="navigateToSection('contact')">Contact</a>
        </li>
      </ul>
    </div>

    <div class="mobile-nav-links" [ngClass]="{ open: mobileMenuOpen }">
      <ul>
        <li><a href="#home" (click)="navigateToSection('home')">Home</a></li>
        <li><a href="#about" (click)="navigateToSection('about')">About</a></li>
        <li>
          <a href="#services" (click)="navigateToSection('services')"
            >Services</a
          >
        </li>
        <li>
          <a href="#contact" (click)="navigateToSection('contact')">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
